<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><?php echo $page_title; ?></title>  
  <!-- css (can be replaced by use of the header component) -->
  <?php echo htmlHelp::css('/css/site'); ?>
  
  <!-- header for layout placeholder (@see header component) -->
  <?php echo $header_for_layout; ?>
</head>
<body>

  <!-- =header -->
  <div id="header">
    <?php echo htmlHelp::img('/imgs/logo.gif'); ?>
    <h1>Welcome to Madeam</h1>
    <p>PHP Model View Controller Framework</p>
  </div>
  
  <!-- =content -->
  <div id="content">
    <!-- content for layout placeholder -->
    <?php echo $content_for_layout; ?>
  </div>
  
</body>
</html>