
    <!--
      Hey! You found the index action's view.
      Remove everything you see here and add your own stuff!
    -->
    <p class="madeam">To setup your <strong>database</strong> and <strong>environment</strong> edit the following:</p>
    <p class="madeam"><code class="madeam">/app/Config/setup.php</code></p>

    <p class="madeam">To edit the master <strong>layout</strong> edit the following file:</p>
    <p class="madeam"><code class="madeam">/app/View/master.layout.html</code></p>

    <p class="madeam">To edit this page's <strong>controller</strong> and <strong>action</strong> edit the following:</p>
    <p class="madeam"><code class="madeam">/app/Controller/Index.php</code></p>

    <p class="madeam">To edit this page's <strong>view</strong> edit the following:</p>
    <p class="madeam"><code class="madeam">/app/View/index/index.html</code></p>

    <br/>
    <p class="madeam"><?php echo Help_Html::link('Getting Started Guide', 'http://madeam.com/start', array('target' => '_blank')); ?> | <?php echo Help_Html::link('Wiki', 'http://madeam.com/wiki', array('target' => '_blank')); ?> | <?php echo Help_Html::link('Official Website', 'http://madeam.com', array('target' => '_blank')); ?></p>