
    <!--
      Hey! You found the index action's view.
      Remove everything you see here and add your own stuff!
    -->
    <p class="madeam">To setup your DATABASE and configure MOD_REWRITE edit the following:</p>
    <p class="madeam"><code class="madeam">/config/environment.php</code></p>

    <p class="madeam">To edit the standard LAYOUT edit the following file:</p>
    <p class="madeam"><code class="madeam">/app/view/_layouts/standard.html</code></p>

    <p class="madeam">To edit this page's CONTROLLER and ACTION edit the following:</p>
    <p class="madeam"><code class="madeam">/app/controller/controller_index.php</code></p>

    <p class="madeam">To edit this page's VIEW edit the following:</p>
    <p class="madeam"><code class="madeam">/app/view/index/index.html</code></p>

    <br/>
    <p class="madeam"><?php echo help_html::link('Getting Started Guide', 'http://madeam.com/start', array('target' => '_blank')); ?> | <?php echo help_html::link('Manual', 'http://madeam.com/manual', array('target' => '_blank')); ?> | <?php echo help_html::link('Official Website', 'http://madeam.com', array('target' => '_blank')); ?></p>
