
    <!--
      Hey! You found the index action's view.
      Remove everything you see here and add your own stuff!
    -->

    <h1>It works! Welcome to Madeam</h1>
    
    <p>To setup your <strong>database</strong> edit the following:</p>
    <code>/app/Config/setup.php</code>
      
    <p>To edit the master <strong>layout</strong> edit the following file:</p>
    <code>/app/View/master.layout.html</code>
      
    <p>To edit this page's <strong>controller</strong> and <strong>action</strong> edit the following:</p>
    <code>/app/Controller/Index.php</code>
      
    <p>To edit this page's <strong>view</strong> edit the following:</p>
    <code>/app/View/index/index.html</code>

    <br /> 
    
    <p><?php echo Htmlr::link('Getting Started Guide', 'http://madeam.com/start', array('target' => '_blank')); ?> | <?php echo Htmlr::link('Documentation', 'http://madeam.com/docs', array('target' => '_blank')); ?> | <?php echo Htmlr::link('Official Website', 'http://madeam.com', array('target' => '_blank')); ?></p>
    