<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><?php echo $title; ?></title>
  <!-- include css style sheet -->
  <?php echo Htmlr::css('/css/screen'); ?>
</head>
<body>

  <!-- =header -->
  <h1 id="header" class="container">Oops</span></h1>

  <!-- =content -->
  <div id="content" class="container">
    <!-- content placeholder -->
    <?php echo $_content; ?>
  </div>

</body>
</html>