<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><?php echo $title; ?></title>
  <!-- include css style sheet -->
  <?php echo Htmlr::css('/css/madeam'); ?>
</head>
<body>

  <!-- =header -->
  <div id="header" class="madeam container">
    <h1 class="madeam">Oops, <span style="color: #fff; letter-spacing: -0.05em;"><?php echo $params['snippet']; ?></span></h1>
  </div>

  <!-- =content -->
  <div id="content" class="container" style="background: #b43838;">
    <!-- content placeholder -->
    <?php echo $this->_content; ?>
  </div>

</body>
</html>