<html>
<head>
  <title><?php echo $page_title; ?></title>
  <meta http-equiv="refresh" content="<?php echo $pause; ?>;url=<?php echo Madeam::url($uri); ?>">

  <?php echo Help_Html::css('/css/madeam'); ?>
  <?php echo Help_Html::css('/css/flash'); ?>

  <script type="text/javascript">
    function reload_timer(time, id) {
      document.getElementById(id).innerHTML = 'This page will reload in: ' + time + ' seconds';
      time = time - 1;
      if (time > 0) {
        setTimeout('reload_timer(' + time + ',\'' + id + '\');', 1000);
      }
    }
  </script>

</head>
<body onLoad="reload_timer('<?php echo $pause; ?>', 'reload_time');">

  <!-- =flash -->
  <div id="flash">
    <!-- content for layout placeholder -->
    <?php echo $controller->content; ?>
    <div id="reload_time"></div><?php echo Help_Html::link('Click here to continue.', $uri); ?>
  </div>

</body>
</html>
