<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine on
  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f

  #To use sub directories uncomment this line and replace "sub" with the name of your directory
  #RewriteRule sub$ /sub/ [L]

  RewriteRule ^$ public/dispatcher.php [L]
  RewriteRule (.*) public/dispatcher.php$1 [L]
</IfModule>