#AddHandler application/x-httpd-php5 php
<IfModule mod_rewrite.c>
    RewriteEngine on

		#To use sub directories uncomment this line and replace "sub" with the name of your directory
		#RewriteRule sub$ /sub/ [L]

    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>