		 
    <div class="madeam_step">
    	<p>If this is your first time using Madeam you should begin with the <?php echo help_html::link('Getting Started Manual', 'http://madeam.com/chapter'); ?>.</p>
    	
      <p>To setup your DATABASE and configure MOD_REWRITE edit the following:</p>
      <p><code class="madeam_file">/config/environment.php</code></p>
  
      <p>To edit the standard LAYOUT edit the following file:</p>
      <p><code class="madeam_file">/app/view/_layouts/standard.html</code></p>
      
      <p>To edit this page's VIEW edit the following:</p>
      <p><code class="madeam_file">/app/view/index/index.html</code></p>
      
      <p>To edit this page's CONTROLLER and ACTION edit the following:</p>
      <p><code class="madeam_file">/app/controller/controller_index.php</code></p>
    </div>
    