/* =madeam defaults
-------------------------------------- */
h1.madeam, p.madeam { padding: 4px 8px 0px 8px; }
h1.madeam {  padding-top: 40px; padding-bottom: 7px; color: #fef38b; text-shadow: #000 4px 3px; }
code.madeam { margin-bottom: 14px; letter-spacing: 0.03em; font-family: "Trebuchet MS", Helvetica; font-weight: bold; font-size: 1.1em; background: #dcdcdc; padding: 6px; display: block; border-bottom: solid 4px #555; }

#madeam-error { font-family: "Lucida Console", "Courier New"; font-size: 0.8em; margin: 10px; background: #fff; padding: 10px; }
	#madeam-error pre { overflow: auto; }
	#madeam-error h1 { font-family: "Trebuchet MS", Helvetica; }
	#madeam-error code { background: #ddd; }

/* =universal prep
-------------------------------------- */
* { margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

body { line-height: 1.6em; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 14px; background: #282e36; color: #fff; }

:link,:visited { text-decoration: none; }
a:link, a:visited { color: #000; text-decoration: underline; }
a:hover { color: #333; text-decoration: none; }

hr { border: none; height: 2px; background: #555; }


/* =structural
-------------------------------------- */
.container { margin: 0 20px 0 20px; }
	#content { background: #fff; padding: 10px 0 10px; color: #000; }

/* =error
-------------------------------------- */
.error { background: #c60e1b; color: #fff; padding: 3px; border: solid 3px #b43838; }
	.error li { margin-left: 20px; }

/* =clear
-------------------------------------- */
.clr { clear: both; visibility: hidden; }