/* =madeam defaults
-------------------------------------- */
h1.madeam, p.madeam { padding: 4px 8px 0px 8px; }
h1.madeam { border-bottom: solid 8px #555; padding-top: 60px; padding-bottom: 7px; color: #fef38b; }
code.madeam { margin-bottom: 14px; margin-left: 10px; letter-spacing: 0.03em; font-family: "Trebuchet MS", Helvetica; font-weight: bold; font-size: 1.1em; background: #fef38b; padding: 6px; display: block; border-bottom: solid 4px #555; }

#madeam-error { font-family: "Courier New"; font-size: 0.8em; margin: 10px; border: solid 3px #b43838; background: #fff; padding: 10px; }
	#madeam-error pre { overflow: auto; }

/* =universal prep
-------------------------------------- */
* { margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

body { line-height: 1.6em; font-family: Arial, "Lucida Grande", arial, helvetica, sans-serif; font-size: 14px; background: #151b29; color: #fff; }

:link,:visited { text-decoration: none; }
a:link, a:visited { color: #000; text-decoration: underline; }
a:hover { color: #333; text-decoration: none; }

hr { border: none; height: 2px; background: #555; }


/* =structural
-------------------------------------- */
.container { margin: 0 auto;  width: 70%; max-width: 1000px; min-width: 760px; }
	#header {  margin-top: 20px; }
	#content { background: #fff; border-bottom: solid 8px #ddd; padding: 10px 0 10px; color: #000; }

/* =error
-------------------------------------- */
.error { background: #c60e1b; color: #fff; padding: 3px; border: solid 3px #f31e2d; }
	.error li { margin-left: 20px; }

/* =clear
-------------------------------------- */
.clr { clear: both; visibility: hidden; }