/* =prep
------------------------------------------------------- */
:link,:visited { text-decoration:none }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 }
a img,:link img,:visited img { border:none }

/* =body
------------------------------------------------------- */
body { color: #333; font-family: verdana, "Lucida Grande", arial, helvetica, sans-serif; background: #eee; font-size: 12px; }

/* =link
------------------------------------------------------- */
a:link, a:visited { color: #000; text-decoration: underline; }
a:hover { color: #333; text-decoration: none; }




/* =madeam default setup styles
------------------------------------------------------- */
	/* =header
	------------------------------------------------------- */
	#header { background: #0c1531; border-bottom: solid 4px #555; color: #fffad4; padding: 10px 10px 10px 20px; }
	
	/* =content
	------------------------------------------------------- */
	#content { background: #fff; border-bottom: solid 4px #ddd; padding: 20px; }
	
	/* =madeam_paragraph
	------------------------------------------------------- */
	.madeam_step p { padding: 5px; }
	
	/* =madeam_code
	------------------------------------------------------- */
	code.madeam_file { margin-left: 20px; font-weight: bold; font-size: 1.2em; background: #fffad4; padding: 6px; display: block; }




/* =error
------------------------------------------------------- */
.error { background: #c60e1b; color: #fff; padding: 3px; border: solid 3px #f31e2d; list-style-type: square; }
.error li { margin-left: 20px; }


/* =clear
------------------------------------------------------- */
.clr { clear: both; visibility: hidden; }