
    <!--
    Hey! You found the index action's view.
    Remove everything you see here and add your own stuff!
    -->

    <h1 style="margin-top: 3em; font-size: 1.8em;">It works! Welcome to Madeam</h1>
    
    <hr />

    <p>This page's <strong>view</strong> can be found here:</p>
    <code>application/views/index/index.html</code>

    <p>This page's <strong>controller</strong> can be found here:</p>
    <code>application/controllers/IndexController.php</code>
  
    <p>This page's <strong>layout</strong> can be found here:</p>
    <code>application/views/master.layout.html</code>

    <br />

    <p>Looking for more help? Check these links to help you start building better websites. </p>
    <p><?php echo Htmlr::link('Quick Start Guide', 'http://madeam.com/start', array('target' => '_blank')); ?> | <?php echo Htmlr::link('Wiki', 'http://madeam.com/wiki', array('target' => '_blank')); ?> | <?php echo Htmlr::link('Official Website', 'http://madeam.com', array('target' => '_blank')); ?></p>
