#AddHandler application/x-httpd-php5 php
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} public/$ [OR]
    RewriteCond %{REQUEST_FILENAME} public$
    RewriteRule ^(.*)$ index.php?madeamURI=$1 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?madeamURI=$1 [QSA,L]
</IfModule>