
    <h1 class="debug  ">Oops, <?php echo $request['snippet']; ?></h1>
    <h4>Error:</h4>
    <p><?php echo $request['error']; ?></p>
    
    <br />
    <br />
    
    <hr />
    <p><strong><?php echo $request['file']; ?></strong> on line <strong><?php echo $request['line']; ?></strong></p>

    <h4>Backtrace:</h4>
    <pre class="backtrace"><?php echo $request['backtrace']; ?></pre>
  
    <br />
    <p><em><strong>Note</strong>: You can disable these error messages in app/config/setup.php</em></p>
