<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Powered By Madeam MVC Framework</title>
  <!-- include css style sheet -->
  <?php echo help_html::css('/css/screen'); ?>
</head>
<body>

  <!-- =madeam_header -->
  <div id="header">
    <h1 class="container">Welcome to Madeam</h1>
  </div>
  
  <!-- =madeam_content -->
  <div id="content" class="container">  	
    <!-- content for layout placeholder -->
    <?php echo $content_for_layout; ?>    
  </div>
  
</body>
</html>