		
    
    <h1>Setup</h1>
    <div class="step">      
      <p>1. Setup your database and configure MOD_REWRITE based on your server setup:</p>
      <p><code>/config/environment.php</code></p>
  
      <p>2. To edit the layout of this page open the following file:</p>
      <p><code>/application/views/_layouts/standard.html</code></p>
      
      <p>3. To edit this page's content (the view) open the following file:</p>
      <p><code>/application/views/index/index.html</code></p>
      
      <p>4. To edit the controller that executes PHP before this page is rendered edit the following file:</p>
      <p><code>/application/controllers/index_controller.php</code></p>
    </div>
    
    <h1>Resources</h1>
    <div class="step">
      <p><?php echo htmlHelp::link('Manual', 'http://madeam.com/chapter.html'); ?> - Very handy manual that shows you all of the Madeam MVC basics.</p>      
      <p><?php echo htmlHelp::link('Madeam.com', 'http://madeam.com'); ?> - Official home of the Madeam PHP MVC framework.</p>
      <p>#madeam @ irc.freenode.net - Chat with other Madeam developers on the Madeam IRC channel</p>
      <p><?php echo htmlHelp::link('Object Oriented Programming', 'http://www.php.net/manual/en/language.oop5.php'); ?> - PHP.net's guide to objects in PHP5.</p>     
    </div>

    